<div style="width: 30%; margin-left: 3%;">
    <%- include ('YoutubeSubscribersModel.ejs') %>
    <%- include ('YoutubeVideoViewsModel.ejs') %>
    <%- include ('YoutubeVideoCommentsModel.ejs') %>
</div>