<div style="display: flex; align-items: flex-start;">
    <%- include ('partials/YoutubeServiceModel.ejs') %>
    <br>
    <%- include ('partials/MovieServiceModel.ejs') %>
    <br>
    <%- include ('partials/WeatherByCityModel.ejs') %>
</div>